{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<link href="../../static/css/bootstrap-4.4.1.css" rel="stylesheet" type="text/css">
<body style="padding-top: 40px"  >
	<div class="slider_container box" style="padding-top: 5px;padding-bottom:10px;"">
		<div>
			<img src="../../static/img/banner.png" alt="pure css3 slider" width="100%" high="00"/>
			<h2 style="text-align:center"><font color="	#CF9E9E" size="5" face="monospace" >&emsp;&emsp;&emsp;&emsp;喵力甜點店祝您 暑假快樂</font></h2>
		</div>
		<div>
			<img src="../../static/img/4.png" alt="pure css3 slider" width="100%" high="300"/>
			<h2 style="text-align:center"><font color="	#CF9E9E" size="5" face="monospace">&emsp;&emsp;&emsp;&emsp;即日起，滿2000送你老闆滿滿的感謝</font></h2>
		</div>
		<div>
			<img src="../../static/img/5.png" alt="pure css3 slider" width="100%" high="300"/>
			<h2 style="text-align:center"><font color="	#CF9E9E" size="5" face="monospace">&emsp;&emsp;&emsp;&emsp;開幕當天全館不打折</font></h2>
		</div>
		<div>
			<img src="../../static/img/6.png" alt="pure css3 slider" width="100%" high="300"/>
			<h2 style="text-align:center"><font color="	#CF9E9E" size="5" face="monospace">&emsp;&emsp;6/15 盛大開幕</font></h2>
		</div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="container-fluid " style="justify-content: top: 50%;  left: 50%">
		<div class="row" >
			<div class="col-md-12" >
				<div class="card col-md-6 border-white"> <img class="card-img-top" src="../../static/img/手工餅乾.png" alt="Card image cap" width="100%" >
					<div class="card-body">
						<h3 class="card-title">手工餅乾</h3>
						<p class="card-text"><font size="3">堅持使用高品質食材，滿懷溫暖、真誠心意純手工製作，只為給你一場舌尖上的頂級饗宴！</font></p>
						<a href="/cookie" class="btn btn-primary" style="background-color: antiquewhite; color:#592d05; border: none"><font size="3">選購餅乾</font></a> 
					</div>
				</div>
				<div class="card col-md-6 border-white"> <img class="card-img-top" src="../../static/img/冷藏蛋糕.png" alt="Card image cap" width="100%">
					<div class="card-body">
						<h3 class="card-title">冷藏蛋糕</h3>
						<p class="card-text"><font size="3">舉凡塔、瑞士捲、乳酪蛋糕等應有盡有！快來選購派對首選的蛋糕們！一起幸福感爆棚吧！</font></p>
						<a href="/cake" class="btn btn-primary" style="background-color: antiquewhite; color:#592d05; border: none"><font size="3">選購蛋糕</font></a>
					</div>
				</div>
				<div class="card col-md-6 border-white"> <img class="card-img-top" src="../../static/img/常溫甜點.png" alt="Card image cap" width="100%">
					<div class="card-body">
						<h3 class="card-title">常溫甜點</h3>
						<p class="card-text"><font size="3">最適合藏在包包裡當作下午茶慰藉的各式常溫甜點，快來選購療癒自己的一天吧！</font></p>
						<a href="/sweet" class="btn btn-primary" style="background-color: antiquewhite; color:#592d05; border: none"><font size="3">選購甜點</font></a>
					</div>
				</div>
				<div class="card col-md-6 border-white"> <img class="card-img-top" src="../../static/img/禮盒.png" alt="Card image cap" width="100%" >
					<div class="card-body">
						<h3 class="card-title">送禮必備</h3>
						<p class="card-text"><font size="3">精選老少得宜的熱門甜點搭配奢華包裝，提著它包準你人見人愛、走路有風！</font></p>
						<a href="/gift" class="btn btn-primary" style="background-color: antiquewhite; color:#592d05; border: none"><font size="3">選購禮盒</font></a> 
					</div>
				</div>
				<br>
				<br>
				<br>
			</div>
		</div>
		<br>
		<br>
	</div>	
</body>
{% endblock %}