{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}
    訂購人資料填寫
{% endblock %}

{% block content %}

<div class="panel-heading" style="background-color:linen;">
    <font color="#592d05">已選購商品</font>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                {% for item in cart %}
                    <li class="list-group-item">
                        ${{ item.total_price }}
                        <span class="badge">{{ item.product.name }} x{{ item.quantity }}</span>
                    </li>
                {% endfor %}
            </ul>
            <p>Total: ${{ cart.get_total_price }}</p>

        
    </div>

    <h1>訂購人資料填寫</h1>
    <form action="." method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-success btn-product">
                <span class="glyphicon glyphicon-shopping-cart"></span> 送出訂單
            </button>
        {% endbuttons %}
    </form>

{% endblock %}